/*

Removing initialized styling

*/

body,
h5 {
  	margin: 0px !important;
}

/*

	Header with contact information such as email, phone numbers and social media

*/

.quick-information {
	width: 100%;
	height: 60px;
	background-color: #C5AB46;
}

.header-text {
	font-family: roboto;
	font-weight: 400;
	color: white;
	font-size: 15px;
}

.contact-no {
	text-decoration: unset;
}

.header-padding {
	padding: 20px 90px;
}

.email-label {
	padding-left: 50px;
}

.header-padding a img {
	float: right;
}

.social-icons {
	position: relative;
	bottom: 25px;
}

.twitter-png {
    padding: 0px 15px;
}